body{
  background-repeat: no-repeat;
  text-align: left;
  background-attachment: fixed;
  background-size: 70% 100%;
  background-position: center;
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif

   }  
   .hidden {
    display: none;
   }